h1 {
    text-align: center;
}

.greeting {
    font-size: 3rem;
    margin-top: 8rem;
}

.name {
    padding: 5px;
    border-radius: 3px;
    animation: pisca 8s infinite;
}

/* teste */

@keyframes pisca {
    0% {
        background-color: #fff;
        color: #000;
    }

    40% {
        background-color: #000;
        color: #ffbb00;
    }

    50% {
        background-color: #000;
        color: #ffbb00;
    }

    60% {
        background-color: #000;
        color: #ffbb00;
    }

    70% {
        background-color: #000;
        color: #ffbb00;
    }

    100% {
        background-color: #fff;
        color: #000;
    }
}