.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
}

.txt {
    text-align: left;
}

.txt p {
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: #888;
}

form {
    display: flex;
    flex-direction: column !important;
}

.titulo {
    font-weight: 600;
    font-size: 13px;
    text-align: left;
}

input,
select {
    font-family: sans-serif;
    color: #888;
    font-weight: lighter;
    width: 300px;
    padding: 10px;
    border: none;
    margin-bottom: 1rem;
}